/* 1.顶部导航 */
.topnav {

    height: 60px;
    background-color: #2c3134;
}

.topnav-left-logo {

    display: block;
    float: left;
    height: 60px;
}

.topnav-left {


    float: left;
}

.topnav-left-logo img {

    height: 60px;
}

.topnav-right {

    float: right;
    height: 60px;
}

.topnav-right a,
.topnav-right input,
.topnav-right-language {

    display: block;
    float: left;
    margin: 0 0 0 45px;
}

.topnav-right a,
.topnav-right-language {

    font-size: 14px;
    line-height: 60px;
    color: #fff;
}

.topnav-right a:last-child {

    margin-right: 5px;
}

.topnav-right a:hover {

    color: #ff6a00;
}

.topnav-right input {

    width: 180px;
    height: 30px;
    margin-top: 15px;
    padding-left: 5px;
    background-color: #373d41;
    border: 0;
    color: #949595;
    box-sizing: border-box;
    transition: 0.5s all;
}

.topnav-right input:focus {

    transition: 0.5s all;
    width: 300px;
}

.topnav-right-language {

    position: relative;
}

.topnav-right-language .icon-jiantou {

    position: absolute;
    display: block;
    right: -20px;
    top: 0px;
    font-size: 18px;
    margin-left: 3px;
    transition: 0.5s all;
}

.topnav-right-language:hover .icon-jiantou {

    transition: 0.5s all;
    transform: rotate(180deg);
}

.topnav-right-language-tab {

    position: absolute;
    display: none;
    z-index: 1;
    top: 60px;
    right: -50px;
    width: 198px;
    height: 582px;
    background-color: #14171a;
    padding-top: 5px;
    /* padding-left: 20px; */
    box-sizing: border-box;
    transition: .5s all;
}

.topnav-right-language:hover .topnav-right-language-tab {

    transition: .5s all;
    display: block;
}

.topnav-right-language-tab1 {

    border-bottom: 1px solid #373d41;
    padding-left: 20px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.topnav-right-language-tab1 a {

    margin: 0;
    line-height: 30px;
}

.topnav-right-language-tab1 .selectd-frist span:last-child {

    margin-left: 23px;
}

.topnav-right-language-tab1 .selectd span:first-child {

    margin-left: 100px;
}

.topnav-right-language-tab2 {

    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.topnav-right-language-tab2 a {

    width: 177px;
    margin: 0;
    line-height: 30px;
}

.topnav-right-language-tab2 .selectd-frist span:last-child {
    float: right;
    margin-right: 23px;
}

/* 2.tab栏部分 */
.tab {

    height: 48px;
    background-color: #373d41;
}

/* tab栏左侧 */
.tab-left {

    height: 48px;
    float: left;
}

.tab-left a {

    display: block;
    float: left;
    color: #fff;
    line-height: 48px;
    margin-right: 40px;
    box-sizing: border-box;
    font-size: 14px;
}

.tab-left a span {

    position: relative;
    transition: .5s all;
}

.tab-left-link:hover span {

    transition: 0.5s all;
    transform: rotate(180deg);
}

/* tab栏右侧按钮 */
.tab-right-btn {

    display: block;
    float: right;
    width: 104px;
    height: 48px;
    background-color: #ff6a00;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 48px;
}

.tab-right-btn:hover {

    color: #fff;
    background-color: #ff791a;
}

/* 3.轮播图部分 */
.banner {

    position: relative;
    height: 420px;
    background-image: url(../uploads/banner-img-1.jpg);
    background-repeat: no-repeat;
    background-position: right -7px;
    background-size: 100% 428px;
}

.banner-text {

    position: relative;
    height: 420px;
    padding-top: 85px;
    box-sizing: border-box;
}

.banner-text h1 {

    font-size: 42px;
    font-weight: 400;
}

.banner-text p {

    font-size: 14px;
    margin-top: 20px;
    color: #999999;
    margin-bottom: 20px;
}

.banner-text-start {

    display: block;
    font-size: 14px;
    color: #ff700b;
}

.banner-text-start i {

    transition: .5s all;
    color: #fff;
}

.banner-text-start:hover i {

    transition: .5s all;
    color: #ff700b;
}

.banner-text-start:hover {

    color: #ff700b;
}

.banner-point {

    position: absolute;
    left: 80px;
    bottom: 20px;
}

.banner-point li {


    float: left;
    width: 48px;
    height: 4px;
    background-color: #f5f6f6;
    margin-right: 5px;
}

.banner-point li a {

    display: block;
    height: 4px;
    width: 48px;
}

.banner-point li a:hover {

    background-color: #ff6a00;
}

/* 4.免费试用 */
.free {

    height: 124px;
    border-top: 1px solid #ebecec;
    border-bottom: 1px solid #ebecec;
    box-sizing: border-box;
}

.free-list li {

    float: left;
    width: 275px;
    height: 124px;
    border-left: 1px solid #ebecec;
    box-sizing: border-box;
}

.free-list li:last-child {

    border-right: 1px solid #ebecec;
}

.free-list a {

    display: block;
    float: left;
    width: 100%;
    height: 124px;
    padding: 28px 20px 20px;
    box-sizing: border-box;
    transition: .5s all;
}

.free-list a h3 {

    font-size: 16px;
    font-weight: 400;
}

.free-list a p {

    margin-top: 10px;
    color: #999999;
    font-size: 14px;
    transition: .5s all;
}

.free-list a:hover {

    transition: .5s all;
    background-color: #ff6a00;
    color: #fff;
}

.free-list a:hover p {

    transition: .5s all;
    color: #fff;
}

/* 6.轮播图2 */
.banner2 {

    position: relative;
    height: 250px;
    background-color: #f5f5f5;
    border-top: 1px solid transparent;
    padding-top: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.banner2 .container {

    height: 250px;
}

.banner-left-jiantou {

    float: left;
    line-height: 250px;
}

.banner2-left-jiantou {

    float: left;
    width: 40px;
    line-height: 180px;
    font-size: 40px;
}

.banner2-content {

    margin-left: 65px;

}

.banner2-content li {

    float: left;
    position: relative;
    width: 423.3px;
    height: 180px;
    box-sizing: border-box;

}

.banner2-content-text {

    display: block;
    padding-left: 150px;
    margin-top: 15px;
    box-sizing: border-box;
}

.banner2-content-text h3 {

    margin-top: 15px;
    font-size: 16px;
}

.banner2-content-text p {

    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.banner2-content-text h4 {

    font-size: 14px;
    color: #ff700b;
    font-weight: 300;
}

.banner2-content img {

    position: absolute;
    width: 130px;
    height: 130px;
    top: 15px;
}

.banner2-right-jiantou {

    float: right;
    width: 40px;
    line-height: 180px;
    font-size: 40px;
}

.banner2-left-jiantou a:hover,
.banner2-right-jiantou a:hover {

    color: #ff700b;
}

/* 产品服务部分 */
.service {

    height: 294px;
    padding-top: 60px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.service-text h3 {

    float: left;
    font-size: 30px;
    font-weight: 400;
}

.service-text-right {

    float: right;
    margin-right: 100px;
}

.service-text-right p {

    font-size: 16px;
    color: #999999;
}

.service-text-right a {

    display: block;
    font-size: 16px;
    color: #ff6a00;
    line-height: 44px;
}

.service-text-right a i {

    color: transparent;
    transition: .5s all;
}

.service-text-right a:hover i {

    transition: .5s all;
    color: #ff6a00;
}

.service-img-list li {

    float: left;
    width: 276px;
    height: 142px;
    margin-top: 30px;
    padding-top: 20px;
    box-sizing: border-box;
}

.service-img-list li a {

    display: block;
    width: 276px;
    height: 142px;
    text-align: center;
}

.service-img-list li a:hover h3 {

    color: #ff700b;
}

.service-img-list li a h3 {

    font-size: 16px;
    font-weight: 500;
}

.service-jieshao-status {

    display: inline-block;
    border: 1px solid #ff700b;
    color: #ff700b;
    font-size: 12px;
    margin-left: 5px;
    line-height: 18px;
    border-radius: 3px;
}

.service-img-list-img1,
.service-img-list-img2,
.service-img-list-img3,
.service-img-list-img4,
.service-img-list-img5 {

    height: 72px;
    width: 72px;
    margin: 0 auto;
}

.service-img-list-img1 {

    background-image: url(../uploads/TB1VAEAdEY1gK0jSZFCXXcwqXXa-144-3024.png);
    background-position-y: 0px;
    background-size: 72px;
}

.service-img-list-img2 {

    background-image: url(../uploads/TB1ajd_c1bviK0jSZFNXXaApXXa-144-3024.png);
    background-position-y: 0px;
    background-size: 72px;
}

.service-img-list-img3 {

    background-image: url(../uploads/TB1WdW2cKbviK0jSZFNXXaApXXa-144-3024.png);
    background-position-y: 0px;
    background-size: 72px;
}

.service-img-list-img4 {

    background-image: url(../uploads/TB1i1j4dQY2gK0jSZFgXXc5OFXa-144-3024.png);
    background-position-y: 0px;
    background-size: 72px;
}

.service-img-list-img5 {

    background-image: url(../uploads/TB1UrkuduP2gK0jSZFoXXauIVXa-144-3024.png);
    background-position-y: 0px;
    background-size: 72px;
}

/* 服务介绍部分 */
.service-jieshao {

    position: relative;
    padding-top: 15px;
    background-color: #f5f5f5;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.service-jieshao-sanjiao {

    position: absolute;
    z-index: 1;
    top: -26px;
    left: 448px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 26px solid #f5f5f5;
}

.service-jieshao-content {

    float: left;
    width: 450px;
    height: 80px;
    box-sizing: border-box;
}

.service-jieshao-content:hover {

    background-color: #fff;
    box-shadow: 5px #e6e6e6;
}

.service-jieshao-content a {

    display: block;
    width: 450px;
    height: 80px;
    padding: 15px 15px 0;
    box-sizing: border-box;
}

.service-jieshao-content a h3 {

    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 400;
}

.service-jieshao-content a p {

    font-size: 14px;
    color: #afb1b3;
}

.service-jieshao-content a:hover h3 {

    color: #ff700b;
}

/* 域名部分 */
.domain {

    padding-top: 25px;
    padding-bottom: 15px;
}

.domain li {

    width: 20%;
    float: left;
    padding-bottom: 40px;
    text-align: center;
}

.domain li a {

    display: block;
    width: 100%;
}

.domain li a:hover h3 {

    color: #ff700b;
}

.domain li h3 {

    font-size: 16px;
    font-weight: 400;
}

.domain-list-img1,
.domain-list-img2,
.domain-list-img3,
.domain-list-img4,
.domain-list-img5,
.domain-list-img6,
.domain-list-img7,
.domain-list-img8,
.domain-list-img9 {

    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

.domain-list-img1 {

    background-image: url(../uploads/TB1D77wdEH1gK0jSZSyXXXtlpXa-144-3024.png);
}

.domain-list-img2 {

    background-image: url(../uploads/TB1YTtydEz1gK0jSZLeXXb9kVXa-144-3024.png);
}

.domain-list-img3 {

    background-image: url(../uploads/TB1FI7Kdxv1gK0jSZFFXXb0sXXa-144-3024.png);
}

.domain-list-img4 {

    background-image: url(../uploads/TB1MEQJdEz1gK0jSZLeXXb9kVXa-144-3024.png);
}

.domain-list-img5 {

    background-image: url(../uploads/TB1Yy6SdhD1gK0jSZFyXXciOVXa-144-3024.png);
}

.domain-list-img6 {

    background-image: url(../uploads/TB1ITSQdoY1gK0jSZFMXXaWcVXa-144-3024.png);
}

.domain-list-img7 {

    background-image: url(../uploads/TB1qW5Rdmf2gK0jSZFPXXXsopXa-144-3024.png);
}

.domain-list-img8 {

    background-image: url(../uploads/TB17Tdydxn1gK0jSZKPXXXvUXXa-144-3024.png);
}

.domain-list-img9 {

    background-image: url(../uploads/TB1ZtYYdmf2gK0jSZFPXXXsopXa-144-3024.png);
}

/* 免费试用2 */
.free-add {

    height: 90px;
    background-image: linear-gradient(to right, #fe740e, #ff9d46);
}

.free-add h3 {

    float: left;
    font-size: 22px;
    color: #fff;
    line-height: 90px;
}

.free-add p {

    float: left;
    font-size: 16px;
    color: #fff;
    margin-left: 300px;
    line-height: 90px;
    font-weight: 300;
}

.free-add a {

    display: block;
    float: right;
    width: 142px;
    height: 42px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    line-height: 42px;
    margin-top: calc((90px - 42px) / 2);
    transition: .5s all;

}

.free-add a:hover {

    transition: .5s all;
    background-color: #fff;
    color: #ff700b;
}

/* 解决方案 */
.solution {

    background-color: #f5f5f5;
    padding-top: 60px;
    padding-bottom: 60px;
}

.solution-text-left {

    float: left;
}

.solution-text-left h2 {

    font-size: 30px;
    font-weight: 400;
}

.solution-text-right {

    float: right;
    margin-right: 70px;
}

.solution-text-right p,
.solution-text-right a {

    font-size: 16px;
}

.solution-text-right p {

    color: #999999;
    margin-bottom: 15px;
}

.solution-text-right a {

    color: #ff700b;
}

.solution-top-content {

    margin-top: 25px;
}

.solution-content1,
.solution-content2,
.solution-content3,
.solution-content4 {

    float: left;
    width: 345px;
    height: 295px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.solution-content1 {

    padding: 30px 20px 55px 30px;
    background-color: #555555;
}

.solution-content1 p {

    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.solution-content1 h3 {

    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}

.solution-content1 a:last-child {

    display: block;
    margin-top: 140px;
    font-size: 14px;
    color: #fff;
}

.solution-content1 a:last-child i {

    margin-left: 5px;
    color: transparent;
    transition: .5s all;
}

.solution-content1 a:last-child:hover i {

    transition: .5s all;
    color: #fff;
}

.solution-content2 a {

    display: block;
    width: 345px;
    height: 295px;
    background-image: url(../uploads/TB1hZ4ydeT2gK0jSZFvXXXnFXXa-720-590.jpg);
    background-size: 100% 295px;
    padding-top: 99.5px;
    box-sizing: border-box;
}

.solution-content2 a:hover {

    transform: scale(1.01);
}

.solution-content2 a img {

    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto;
}

.solution-content3 {

    padding: 30px 20px 55px 30px;
    background-color: #ff6a00;
}

.solution-content3 p {

    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.solution-content3 h3 {

    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}

.solution-content3 a:last-child {

    display: block;
    margin-top: 140px;
    font-size: 14px;
    color: #fff;
}

.solution-content3 a:last-child i {

    margin-left: 5px;
    color: transparent;
    transition: .5s all;
}

.solution-content3 a:last-child:hover i {

    transition: .5s all;
    color: #fff;
}

.solution-content4 a {

    display: block;
    width: 345px;
    height: 295px;
    background-image: url(../uploads/TB1_M8zdhz1gK0jSZSgXXavwpXa-720-590.jpg);
    background-size: 100% 295px;
    padding-top: 99.5px;
    box-sizing: border-box;
}

.solution-content4 a:hover {

    transform: scale(1.01);
}

.solution-content4 a img {

    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto;
}

.solution-bottom-content1,
.solution-bottom-content2,
.solution-bottom-content3,
.solution-bottom-content4 {

    position: relative;
    width: 345px;
    height: 225px;
    padding: 30px 20px 55px 30px;
    box-sizing: border-box;
    float: left;
}

.solution-bottom-content1 h3,
.solution-bottom-content2 h3,
.solution-bottom-content3 h3,
.solution-bottom-content4 h3 {

    font-size: 16px;
    margin-bottom: 10px;
}

.solution-bottom-content1 p,
.solution-bottom-content2 p,
.solution-bottom-content3 p,
.solution-bottom-content4 p {

    font-size: 14px;
    color: #999999;
}

.solution-bottom-content1 a:last-child,
.solution-bottom-content2 a:last-child,
.solution-bottom-content3 a:last-child,
.solution-bottom-content4 a:last-child {

    display: block;
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 14px;
    color: #ff700b;
}

.solution-bottom-content1 a:last-child i,
.solution-bottom-content2 a:last-child i,
.solution-bottom-content3 a:last-child i,
.solution-bottom-content4 a:last-child i {

    transition: .5s all;
    color: transparent;
}

.solution-bottom-content1 a:last-child:hover i,
.solution-bottom-content2 a:last-child:hover i,
.solution-bottom-content3 a:last-child:hover i,
.solution-bottom-content4 a:last-child:hover i {

    transition: .5s all;
    color: #ff700b;
}

.solution-bottom-content1,
.solution-bottom-content3 {

    background-color: #ebecec;
}

.solution-bottom-content2,
.solution-bottom-content4 {

    background-color: #fff;
}

.solution-bottom-content1:hover,
.solution-bottom-content2:hover,
.solution-bottom-content3:hover,
.solution-bottom-content4:hover {

    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .1);
}

/* 了解云市场 */
.market {

    padding-top: 60px;
    padding-bottom: 70px;
}

.market-top-text-left {

    float: left;
}

.market-top-text-left h3 {

    font-size: 30px;
    font-weight: 400;
}

.market-top-text-right {

    float: right;
}

.market-top-text-right p {

    margin-bottom: 11px;
    line-height: 11px;
    font-size: 16px;
    color: #999999;
}

.market-top-text-right a {

    font-size: 16px;
    color: #ff700b;
}

.market-top-text-right a i {

    margin-left: 5px;
    color: transparent;
    transition: .5s all;
}

.market-top-text-right a:hover i {

    transition: .5s all;
    color: #ff700b;
}

.market-type {

    margin-top: 60px;
}

.market-type-title {

    margin-bottom: 20px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 500;
}

.market-type-list {

    margin-left: -15px;
    margin-right: -15px;
}

.market-type-list li {

    float: left;
    position: relative;
    width: 440px;
    height: 80.8px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding: 25px 30px 24px 24px;
    background: #FFF;
    border: 1px solid #EBECEC;
    transition: .3s;
    box-sizing: border-box;
    transition: .3s all;
}

.market-type-list li:hover {

    transition: .3 all;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .1);
}

.market-type-list li a {

    display: block;
    width: 100%;
}

.market-type-list li a h3 {

    color: #181818;
    line-height: 21px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 6px;
    font-size: 18px;
}

.market-type-list-img1,
.market-type-list-img2,
.market-type-list-img3,
.market-type-list-img4,
.market-type-list-img5,
.market-type-list-img6 {

    position: absolute;
    right: 24px;
    top: 10px;
    float: right;
    width: 56px;
    height: 56px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.market-type-list-img1 {

    background-image: url(../uploads/TB1DndddAP2gK0jSZPxXXacQpXa-112-2352.png);
}

.market-type-list-img2 {

    background-image: url(../uploads/TB1.pBidxD1gK0jSZFyXXciOVXa-112-2352.png);
}

.market-type-list-img3 {

    background-image: url(../uploads/TB1sTQ_da67gK0jSZFHXXa9jVXa-112-2352.png);
}

.market-type-list-img4 {

    background-image: url(../uploads/TB19wo.dkL0gK0jSZFtXXXQCXXa-112-2352.png);
}

.market-type-list-img5 {

    background-image: url(../uploads/TB1w6NhdxD1gK0jSZFyXXciOVXa-112-2352.png);
}

.market-type-list-img6 {

    background-image: url(../uploads/TB1Aj8bdp67gK0jSZPfXXahhFXa-112-2352.png);
}

.market-friends-h3 {

    margin-top: 20px;
    margin-bottom: 41px;
    font-size: 14px;
    font-weight: 400;
}

.market-friends-img li {

    float: left;
    width: 345px;
    height: 74px;
    /* background-color: pink; */
}

.market-friends-img li a {

    display: block;
    width: 210.23px;
    height: 74px;
    margin: 0 auto;
    opacity: .3;
    transition: .3s all;
}

.market-friends-img li a:hover {

    transition: .3s all;
    opacity: 1;
}

.market-friends-img li a img {

    display: block;
    width: 210.23px;
    height: 74px;
}

/* 12.部署部分 */
.deploy {

    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #f5f5f6;
}

.deploy-title-left h3 {

    float: left;
    font-size: 30px;
    font-weight: 400;
}

.deploy-title-right {

    float: right;
}

.deploy-title-right p {

    color: #9999b1;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px;
}

.deploy-title-right a {

    font-size: 16px;
    color: #ff700b;
}

.deploy-title-right a i {

    color: transparent;
    transition: .5s all;
}

.deploy-title-right a:hover i {

    transition: .5s all;
    color: #ff700b;
}

.deploy-list {

    margin-top: 76px;
    margin-left: -39px;
}

.deploy-list li {

    float: left;
    width: 354.75px;
    height: 115px;
    padding-left: 39px;
    padding-right: 39px;
    border-left: 1px solid #ebecec;
    box-sizing: border-box;
}

.deploy-list li:nth-child(1) {

    border-left: none;
}

.deploy-list li h3 {

    font-size: 42px;
    margin-bottom: 7px;
    font-weight: 500;
    color: #c3c5c6;
}

.deploy-list li p {

    font-size: 14px;
    margin-bottom: 5px;
}

.deploy-list li:last-child a {

    font-size: 14px;
    color: #ff700b;
}

.deploy-list li:last-child a:hover {

    border-bottom: 1px solid #ff700b;
}

.deploy-line {

    margin-top: 69px;
    border-top: 1px solid #EBECEC;
    padding-top: 60px;
}

.deploy-renzhen li {

    float: left;
    width: 229.99px;
    height: 111.8px;
}

.deploy-renzhen li>a {

    width: 229.99px;
    height: 111.8px;
    text-align: center;
}

.deploy-renzhen li>a>img {

    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.deploy-renzhen li>a>p {

    margin-top: 11px;
    color: #999;
}

.deploy-renzhen li a:hover p {

    color: #ff700b;
}

/* 数据中心 */
.datacenter {

    padding-top: 60px;
    padding-bottom: 70px;
}

.datacenter-title {

    border-bottom: 1px solid transparent;
    box-sizing: border-box;
}

.datacenter-title-left {

    float: left;
}

.datacenter-title-left h3 {

    font-size: 30px;
    font-weight: 400;
}

.datacenter-title-right {

    float: right;
}

.datacenter-title-right p {

    font-size: 16px;
    color: #999;
    margin-bottom: 11px;
}

.datacenter-title-right a {

    font-size: 16px;
    color: #ff700b;
}

.datacenter-title-right a i {

    color: transparent;
    margin-left: 5px;
    transition: .3s all;
}

.datacenter-title-right a:hover i {

    transition: .3s all;
    color: #ff700b;
}

.datacenter-content {

    margin-top: 66px;
}

.datacenter-content-left {

    float: left;
    width: 575px;

}

.datacenter-content-left li {

    float: left;
    width: 287.5px;
    height: 87px;
    margin-bottom: 46px;
}

.datacenter-content-left li h3 {

    font-size: 42px;
    color: #C3C5C6;
    margin-bottom: 8px;
    line-height: 55px;
    font-weight: 500;
}

.datacenter-content-left li p {

    font-size: 14px;
}

.datacenter-content-right {

    position: relative;
    float: right;
    /* background: pink; */
    height: 312.41px;
    width: 805px;
    background-image: url(../uploads/TB1ICZWda61gK0jSZFlXXXDKFXa-1680-652.jpg);
    background-size: 100%;
}

.usa-west-text {

    position: absolute;
    font-size: 12px;
    top: 71px;
    left: 100px;
}

.usa-west-num {

    position: absolute;
    top: 93px;
    left: 126px;
    color: #fff;
}

.usa-east-text {

    position: absolute;
    left: 197px;
    top: 85px;
}

.usa-east-num {

    position: absolute;
    top: 102px;
    left: 226px;
    color: #fff;
}

.uk-text {

    position: absolute;
    left: 358px;
    top: 61px;
}

.uk-num {

    position: absolute;
    left: 392px;
    top: 61px;
    color: #fff;
}

.gm-text {

    position: absolute;
    left: 412px;
    top: 48px;
}

.gm-num {

    position: absolute;
    left: 421px;
    top: 68px;
    color: #fff;
}

.zhongdong-text {

    position: absolute;
    left: 491px;
    top: 99px;
}

.zhongdong-num {

    position: absolute;
    left: 500px;
    top: 118px;
    color: #fff;
}

.in-text {

    position: absolute;
    left: 544px;
    top: 135px;
}

.in-num {

    position: absolute;
    left: 577px;
    top: 135px;
    color: #fff;
}

.mlxy-text {

    position: absolute;
    left: 578px;
    top: 172px;
}

.mlxy-num {

    position: absolute;
    left: 634px;
    top: 172px;
    color: #fff;
}

.sg-text {

    position: absolute;
    left: 600px;
    top: 190px;
}

.sg-num {

    position: absolute;
    left: 643px;
    top: 190px;
    color: #fff;
}

.ydnxy-text {

    position: absolute;
    left: 691px;
    top: 193px;
}

.ydnxy-num {

    position: absolute;
    left: 677px;
    top: 194px;
    color: #fff;
}

.adly-text {

    position: absolute;
    left: 717px;
    top: 221px;
}

.adly-num {

    position: absolute;
    left: 738px;
    top: 239px;
    color: #fff;
}

.cn-xinan-text {

    position: absolute;
    left: 550px;
    top: 107px;
}

.cn-xinan-num {

    position: absolute;
    left: 625px;
    top: 108px;
    color: #fff;
}

.cn-huanan-text {

    position: absolute;
    right: 176px;
    top: 123px;
}

.cn-huanan-num {

    position: absolute;
    right: 159px;
    top: 123px;
    color: #fff;
}

.cn-huabei-text {

    position: absolute;
    right: 125px;
    top: 78px;
}

.cn-huabei-num {

    position: absolute;
    right: 146px;
    top: 98px;
    color: #fff;
}

.cn-huadong-text {

    position: absolute;
    right: 62px;
    top: 112px;
}

.cn-huadong-num {

    position: absolute;
    right: 125px;
    top: 112px;
    color: #fff;
}

.cn-hongkong-text {

    position: absolute;
    right: 77px;
    top: 131px;
}

.cn-hongkong-num {

    position: absolute;
    right: 136px;
    top: 131px;
    font-size: 10px;
    color: #fff;
}

.jp {

    position: absolute;
    top: 71px;
    right: 78px;
}

.jp-num {

    position: absolute;
    top: 89px;
    right: 84px;
    color: #fff;
}

.keyongqu {

    position: absolute;
    right: 0;
    bottom: -20px;
}

.keyongqu i {

    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ff6a00;
    border-radius: 50%;
    margin-right: 5px;
}

/* 客户案例 */
.case {

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f5f6;
}

.case-title-left {

    float: left;
}

.case-title-left h3 {

    font-size: 30px;
    font-weight: 400;
}

.case-title-right {

    float: right;
    padding-top: 5px;
    margin-right: 250px;
}

.case-title-right p {

    font-size: 16px;
    color: #999;
    margin-bottom: 11px;
}

.case-title-right a {

    font-size: 16px;
    color: #ff700b;
}

.case-title-right a i {

    color: transparent;
    transition: .3s all;
}

.case-title-right a:hover i {

    transition: .3s all;
    color: #ff700b;
}

.case-btm {

    margin-top: 50px;
}

.case-list li {

    float: left;
    width: 229.99px;
    height: 110px;
    border-top: 1px solid #EBECEC;
    border-bottom: 1px solid #EBECEC;
    border-right: 1px solid #EBECEC;
    box-sizing: border-box;
    background-color: #fff;
}

.case-list-line {

    width: 100%;
    height: 4px;
    background-color: transparent;
}

.case-list li:hover .case-list-line {

    background-color: #ff700b;
}

.case-list li:hover {

    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
}

.case-list li:nth-child(1) {

    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
}

.case-list li:nth-child(1) div {

    background-color: #ff700b;
}

.case-list li a {

    display: block;
    width: 229.99px;
    height: 110px;
    text-align: center;
}

.case-list li a img {

    width: 180px;
    height: 90px;
}

.case-jieshao-left {

    float: left;
    width: 690px;
    height: 280px;
    background-image: url(../uploads/TB1O6t4dkL0gK0jSZFAXXcA9pXa-1440-560.jpg);
    background-repeat: no-repeat;
    background-size: 690px 280px;
    transition: .3s all;
}

.case-jieshao-left:hover {

    transition: .3s all;
    background-size: 105%;
}

.case-jieshao-left a {

    display: block;
    width: 100%;
    height: 280px;
    border-top: 1px solid transparent;
    box-sizing: border-box;
}

.case-jieshao-left a img {

    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto;
    margin-top: calc((280px - 96px) / 2);
}

.case-jieshao-right {

    position: relative;
    float: right;   
    width: 690px;
    height: 280px;
    margin-right: 30px;
    background-color: #ff8733;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;

}

.case-jieshao-right p {

    font-weight: 700;
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.case-jieshao-right a {

    color: #ffdbc1;
}

.case-jieshao-right a:last-child {

    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 307px;
    font-size: 14px;
}

/* 新闻部分 */
.news {

    padding-top: 60px;
    padding-bottom: 40px;
}

.news-left {

    float: left;
    padding: 0 15px;
    width: 437.99px;
}

.news-left div:first-child h3 {

    font-size: 30px;
    font-weight: 400;
    margin-bottom: 17px;
    box-sizing: border-box;
}

.news-left div:first-child {

    border-bottom: 2px solid #ebecec;
}

.news-left div:nth-child(2) a,
.news-left div:nth-child(3) a,
.news-left div:nth-child(4) a {

    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.news-left div:nth-child(2) p, 
.news-left div:nth-child(3) p,
.news-left div:nth-child(4) p {

    font-size: 14px;
    color: #999;
    margin-bottom: 17px;
}

.news-left div:nth-child(2),
.news-left div:nth-child(3) {

    border-bottom: 1px solid #ebecec;
}

.news-left div:last-child {

    padding-top: 13px;
    font-size: 16px;
}

.news-left div:last-child a {

    color: #FF6A00;
}

.news-left div:last-child a i {

    margin-left: 5px;
    color: transparent;
    transition: .3s all;
}

.news-left div:last-child a:hover i {

    transition: .3s all;
    color: #ff6a00;
}

/* 支持部分 */
.support {

    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#f5f5f6;
}

.support .container {

    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.support-left {

    float: left;
    width: 690px;
    height: 292px;
    padding-top: 55px;
    padding-bottom: 69px;
    box-sizing: border-box;
    border-right: 1px solid #d7d8d9;
}

.support-left h3 {
    
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 16px;
}

.support-left p {

    font-size: 18px;
    color: #999999;
    margin-bottom: 38px;
}

.support-left a {

    display: block;
    width: 150px;
    height: 42px;
    background-color: #ff6a00;
    text-align: center;
    line-height: 42px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.support-right {

    float: left;
    padding-left: 39px;
}

.support-right-1 {

    margin-bottom: 34px;
}

.support-right-1 h3 {

    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.support-right-1 p {

    color: #999;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}

.support-right-1 a {

    font-size: 14px;
    color: #ff6a00;
    margin-right: 50px;
}

.support-right-1 a:hover {

    border-bottom: 1px solid #ff6a00;
}

.support-right-2 {

    margin-bottom: 34px;
}

.support-right-2 h3 {

    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.support-right-2 p {

    color: #999;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}

.support-right-2 a {

    font-size: 14px;
    color: #ff6a00;
    margin-right: 50px;
}

.support-right-2 a:hover {

    border-bottom: 1px solid #ff6a00;
}

.support-right-3 h3 {

    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.support-right-3 p {

    color: #999;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}

.support-right-3 a {

    font-size: 14px;
    color: #ff6a00;
    margin-right: 50px;
}

.support-right-3 a:hover {

    border-bottom: 1px solid #ff6a00;
}

/* 关于部分 */
.about {

    padding-top: 35px;
    background-color: #373d41;
    border-bottom: 1px solid transparent;
    padding-bottom: 20px;
}

.about-list {

    padding-bottom: 20px;
    border-bottom: 1px solid #73787a;
}

.about-list div {

    float: left;
    width: 14.5%;
    padding-left: 15px;
    padding-right: 15px;
}

.about-list div dl dt a {

    color: #fff;
    font-size: 14px;
}

.about-list div dl dt {

    line-height: 28px;
}

.about-list div dl dd {

    line-height: 28px;
}

.about-list div dl dd a {
    
    color: #c1c3c4;
    font-size: 14px;
}

.about-list div:last-child img {

    display: block;
    height: 54px;
}

.about-list div:last-child p {

    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.about-list div:last-child div {

    padding: 0;
    width: auto;
}

.about-list div:last-child div a {

    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background-color: #73777a;
    text-align: center;
    line-height: 32px;
    color: #afb1b3;
    border-radius: 50%;
    transition: .3s all;
}

.about-list div:last-child div a:hover {

    transition: .3s all;
    background-color: #ff6a00;
    color: #fff;
}

.about-list-btm {

    padding-top: 30px;
}

.about-list-btm-show {

    margin-bottom: 10px;
}

.about-list-btm-show p {

    float: left;
    width: 200px;
    font-size: 14px;
    color: #fff;
}

.about-list-btm-show ul {

    float: left;
}

.about-list-btm-show ul li {

    float: left;
    margin-right: 40px;
}

.about-list-btm-show ul li a {

    color: #c3c4c6;
    font-size: 14px;
    line-height: 16px;
}

.about-list-btm-show:last-child ul li {

    margin-right: 10px;
}

/* 页脚部分 */
.footer {

    padding-bottom: 25px;
    background-color: #4b5054;
}

.footer .container {

    padding-left: 15px;
    padding-right: 15px;
}

.footer-about-us {

    padding-bottom: 10px;
    padding-top: 25px;
}

.footer-about-us a {

    display: block;
    float: left;
    font-size: 14px;
    color: #fff;
    margin-right: 50px;
}

.footer-links {

    margin-bottom: 20px;
}

.footer-links a {

    display: block;
    float: left;
    margin-right: 5px;
    font-size: 14px;
    color: #c7c9ca;
}

.footer-links a:hover {

    color: #ff6141;
}

.footer-banquan {

    font-size: 14px;
    color: #c7c9ca;
}