@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 1.顶部导航 */
.topnav {
  height: 60px;
  background-color: #2c3134;
}

.topnav-left-logo {
  display: block;
  float: left;
  height: 60px;
}

.topnav-left {
  float: left;
}

.topnav-left-logo img {
  height: 60px;
}

.topnav-right {
  float: right;
  height: 60px;
}

.topnav-right a,
.topnav-right input,
.topnav-right-language {
  display: block;
  float: left;
  margin: 0 0 0 45px;
}

.topnav-right a,
.topnav-right-language {
  font-size: 14px;
  line-height: 60px;
  color: #fff;
}

.topnav-right a:last-child {
  margin-right: 5px;
}

.topnav-right a:hover {
  color: #ff6a00;
}

.topnav-right input {
  width: 180px;
  height: 30px;
  margin-top: 15px;
  padding-left: 5px;
  background-color: #373d41;
  border: 0;
  color: #949595;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.topnav-right input:focus {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 300px;
}

.topnav-right-language {
  position: relative;
}

.topnav-right-language .icon-jiantou {
  position: absolute;
  display: block;
  right: -20px;
  top: 0px;
  font-size: 18px;
  margin-left: 3px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.topnav-right-language:hover .icon-jiantou {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.topnav-right-language-tab {
  position: absolute;
  display: none;
  z-index: 1;
  top: 60px;
  right: -50px;
  width: 198px;
  height: 582px;
  background-color: #14171a;
  padding-top: 5px;
  /* padding-left: 20px; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.topnav-right-language:hover .topnav-right-language-tab {
  -webkit-transition: .5s all;
  transition: .5s all;
  display: block;
}

.topnav-right-language-tab1 {
  border-bottom: 1px solid #373d41;
  padding-left: 20px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topnav-right-language-tab1 a {
  margin: 0;
  line-height: 30px;
}

.topnav-right-language-tab1 .selectd-frist span:last-child {
  margin-left: 23px;
}

.topnav-right-language-tab1 .selectd span:first-child {
  margin-left: 100px;
}

.topnav-right-language-tab2 {
  padding-left: 20px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topnav-right-language-tab2 a {
  width: 177px;
  margin: 0;
  line-height: 30px;
}

.topnav-right-language-tab2 .selectd-frist span:last-child {
  float: right;
  margin-right: 23px;
}

/* 2.tab栏部分 */
.tab {
  height: 48px;
  background-color: #373d41;
}

/* tab栏左侧 */
.tab-left {
  height: 48px;
  float: left;
}

.tab-left a {
  display: block;
  float: left;
  color: #fff;
  line-height: 48px;
  margin-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.tab-left a span {
  position: relative;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.tab-left-link:hover span {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* tab栏右侧按钮 */
.tab-right-btn {
  display: block;
  float: right;
  width: 104px;
  height: 48px;
  background-color: #ff6a00;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 48px;
}

.tab-right-btn:hover {
  color: #fff;
  background-color: #ff791a;
}

.banner {
  width: 100%;
  height: 438px;
  background-image: url(../images/rumen-bgp.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 101%;
}

.banner h1 {
  font-size: 42px;
  color: #fff;
  padding-top: 72px;
  margin-bottom: 20px;
  font-weight: 500;
}

.banner p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 36px;
}

.banner a {
  display: block;
  width: 160px;
  height: 40px;
  background-color: #ff6a00;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

.daohang {
  width: 100%;
  height: 53.6px;
  background-color: #373d41;
  text-align: center;
}

.daohang a {
  color: #fff;
  line-height: 53.6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  font-size: 16px;
}

.daohang a:hover {
  color: #ff6a15;
}

main {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
}

main .main-title {
  margin-bottom: 40px;
}

main .main-title h2 {
  font-size: 32px;
  color: #373D41;
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;
}

main .main-title h3 {
  font-size: 18px;
  color: #73777A;
  line-height: 27px;
  text-align: center;
  font-weight: 400;
}

main section {
  border-top: 1px solid transparent;
}

main section .sec-content {
  float: left;
  width: 33.333333%;
  height: 210px;
  padding: 0 15px;
  margin-bottom: 20px;
}

main section .sec-content a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 16px 20px 50px;
}

main section .sec-content a {
  -webkit-transition: .5s all;
  transition: .5s all;
  border-top: 4px solid #ebecec;
}

main section .sec-content a:hover {
  -webkit-transition: .5s all;
  transition: .5s all;
  border-top: 4px solid #ff6a00;
}

main section .sec-content a h2 {
  font-size: 20px;
  color: #373D41;
  line-height: 30px;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}

main section .sec-content a p {
  font-size: 14px;
  color: #73777A;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 63px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

main section .sec-content a aside {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 14px;
  color: #C3C5C6;
}

main section .sec-btn {
  text-align: center;
  padding-top: 20px;
}

main section .sec-btn a {
  display: inline-block;
  width: 106px;
  height: 40px;
  border: 1px solid #ff6a00;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #ff6a00;
}

main section .sec-btn a:hover {
  background-color: #ff6a00;
  color: #fff;
}

.line {
  padding-top: 60px;
  padding-bottom: 60px;
}

.line .line-title h2 {
  font-size: 32px;
  color: #373D41;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 500;
}

.line .line-title h3 {
  font-size: 18px;
  color: #73777A;
  text-align: center;
  line-height: 27px;
  margin-bottom: 40px;
  font-weight: 400;
}

.line .line-main .line-main-box {
  float: left;
  width: 33.333333%;
  height: 164px;
  padding: 0 15px;
}

.line .line-main .line-main-box a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 164px;
  padding: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid transparent;
  padding-left: 15%;
  margin-bottom: 20px;
}

.line .line-main .line-main-box a:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(55, 61, 65, 0.15);
          box-shadow: 0 0 10px 0 rgba(55, 61, 65, 0.15);
  border: 1px solid #EBECEC;
}

.line .line-main .line-main-box a h2 {
  font-size: 24px;
  color: #373D41;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line .line-main .line-main-box a p {
  margin-top: 8px;
  font-size: 14px;
  color: #73777A;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 62px;
}

.line .line-main .line-main-box a img {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 10px;
  left: 10px;
}

.line .line-btn {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.line .line-btn a {
  display: inline-block;
  width: 173px;
  height: 40px;
  border: 1px solid #ff6a00;
  color: #ff6a00;
  line-height: 40px;
  font-size: 14px;
}

.line .line-btn a:hover {
  background-color: #ff791a;
  color: #fff;
}

.video {
  width: 100%;
  padding-top: 78px;
  padding-bottom: 60px;
  background-color: #f5f5f6;
}

.video .video-title {
  margin-bottom: 40px;
}

.video .video-title h2 {
  font-size: 32px;
  color: #373D41;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 500;
}

.video .video-title h3 {
  font-size: 18px;
  color: #73777A;
  text-align: center;
  line-height: 27px;
  font-weight: 500;
}

.video .video-select {
  width: 100%;
  height: 42.8px;
  text-align: center;
  border-bottom: 2px solid #d7d8d9;
}

.video .video-select a {
  display: inline-block;
  margin: 0 42px;
  font-size: 14px;
}

.video .video-select a:hover {
  color: #ff6a00;
}

.video .video-select a:nth-child(1) {
  color: #ff6a00;
}

.video .video-main {
  margin-top: 32px;
  padding: 0 40px;
}

.video .video-main .video-main-box {
  float: left;
  width: 33.333333%;
  height: 359px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.video .video-main .video-main-box a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.video .video-main .video-main-box a img {
  width: 100%;
  height: 196px;
}

.video .video-main .video-main-box a div {
  padding: 16px 20px;
}

.video .video-main .video-main-box a h2 {
  font-size: 20px;
  font-weight: 400;
  color: #373D41;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video .video-main .video-main-box a p {
  margin-top: 8px;
  font-size: 14px;
  color: #73777A;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.video .video-btn {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.video .video-btn a {
  display: inline-block;
  width: 106px;
  height: 40px;
  line-height: 40px;
  color: #ff6a00;
  border: 1px solid #ff6a00;
  font-size: 14px;
}

.video .video-btn a:hover {
  background-color: #ff6a00;
  color: #fff;
}

.tool {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.tool .tool-title {
  margin-bottom: 40px;
}

.tool .tool-title h2 {
  font-size: 32px;
  color: #373D41;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}

.tool .tool-main .tool-main-box {
  float: left;
  width: 33.333333%;
  height: 241px;
  padding-left: 15px;
  padding-right: 15px;
}

.tool .tool-main .tool-main-box a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.tool .tool-main .tool-main-box a:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(55, 61, 65, 0.15);
          box-shadow: 0 0 10px 0 rgba(55, 61, 65, 0.15);
}

.tool .tool-main .tool-main-box a img {
  display: block;
  width: 50px;
  height: 50x;
}

.tool .tool-main .tool-main-box a div {
  width: 100%;
  padding-top: 10px;
}

.tool .tool-main .tool-main-box a div h2 {
  font-size: 24px;
  color: #373D41;
  letter-spacing: 0;
  margin-bottom: 8px;
  font-weight: 300;
}

.tool .tool-main .tool-main-box a div p {
  font-size: 16px;
  color: #73777A;
  line-height: 24px;
  margin-bottom: 16px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tool .tool-main .tool-main-box a div aside {
  border-top: 1px solid #EBECEC;
  padding-top: 16px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #ff6a00;
}

.developer {
  width: 100%;
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 48px;
}

.developer .developer-title {
  width: 100%;
  text-align: center;
}

.developer .developer-title h3 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.developer .developer-title p {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  display: block;
  margin: 16px 0 15px;
  color: #fff;
}

.developer .developer-title a {
  display: inline-block;
  color: #fff;
  background-color: #ff6a00;
  border-color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 44px;
  padding: 0 35px;
  margin-top: 15px;
}

/* 关于部分 */
.about {
  padding-top: 35px;
  background-color: #373d41;
  border-bottom: 1px solid transparent;
  padding-bottom: 20px;
}

.about-list {
  padding-bottom: 20px;
  border-bottom: 1px solid #73787a;
}

.about-list div {
  float: left;
  width: 14.5%;
  padding-left: 15px;
  padding-right: 15px;
}

.about-list div dl dt a {
  color: #fff;
  font-size: 14px;
}

.about-list div dl dt {
  line-height: 28px;
}

.about-list div dl dd {
  line-height: 28px;
}

.about-list div dl dd a {
  color: #c1c3c4;
  font-size: 14px;
}

.about-list div:last-child img {
  display: block;
  height: 54px;
}

.about-list div:last-child p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.about-list div:last-child div {
  padding: 0;
  width: auto;
}

.about-list div:last-child div a {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background-color: #73777a;
  text-align: center;
  line-height: 32px;
  color: #afb1b3;
  border-radius: 50%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.about-list div:last-child div a:hover {
  -webkit-transition: .3s all;
  transition: .3s all;
  background-color: #ff6a00;
  color: #fff;
}

.about-list-btm {
  padding-top: 30px;
}

.about-list-btm-show {
  margin-bottom: 10px;
}

.about-list-btm-show p {
  float: left;
  width: 200px;
  font-size: 14px;
  color: #fff;
}

.about-list-btm-show ul {
  float: left;
}

.about-list-btm-show ul li {
  float: left;
  margin-right: 40px;
}

.about-list-btm-show ul li a {
  color: #c3c4c6;
  font-size: 14px;
  line-height: 16px;
}

.about-list-btm-show:last-child ul li {
  margin-right: 10px;
}

/* 页脚部分 */
.footer {
  padding-bottom: 25px;
  background-color: #4b5054;
}

.footer .container {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-about-us {
  padding-bottom: 10px;
  padding-top: 25px;
}

.footer-about-us a {
  display: block;
  float: left;
  font-size: 14px;
  color: #fff;
  margin-right: 50px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  display: block;
  float: left;
  margin-right: 5px;
  font-size: 14px;
  color: #c7c9ca;
}

.footer-links a:hover {
  color: #ff6141;
}

.footer-banquan {
  font-size: 14px;
  color: #c7c9ca;
}
/*# sourceMappingURL=rumen.css.map */